.sidebar {
    background-color: #f5f2f0;
    padding: 1em;
    height: 100%;
    width: 60vw;
    position: fixed;
    left: 0;
    top: 60px;
    transition: left 0.3s ease-out;
    z-index: 1; /* Set a z-index for the sidebar */
    overflow: hidden;
  }
  
  .sidebar.collapsed {
    left: -60vw;
  }
  
  .collapse-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 2; /* Set a higher z-index for the collapse button */
    /*color: #f2f2f2;*/
  }

  .urdf-container {
    scrollbar-width: none;
    height: 90%;
    box-sizing: content-box;
    padding-right: 17px;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  